<div class="form">    
    <form [formGroup]="taskForm" (ngSubmit)="editTask()">
        <!-- Name -->
        <div class="form-group">
            <h5 for="title"> Title </h5>
            <input type="text" class="form-control" id="title" name="title" formControlName="title">
        </div>
        
        <!-- Description -->
        <div class="form-group">
            <h5 for="description"> Description </h5>
            <input type="text" class="form-control" id="description" name="description" formControlName="description">
        </div>

        <!-- Radio Buttons -->
        <h5>Status</h5>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="status" value="Incomplete" id="status-incomplete" formControlName="status" > 
            <label class="form-check-label" for="status-incomplete">
              Incomplete
            </label>
        </div>  
        
        <div class="form-check">
            <input class="form-check-input" type="radio" name="status" value="Complete" id="status-complete" formControlName= "status" >
            <label class="form-check-label" for="status-complete">
              Complete
            </label>
        </div>

        <!-- Slider -->
        <div>
            <h5 class="form-label" for="progress"> Progress </h5>
            <input type="range" class="form-range form-control" min="0" max="100" step="25" formControlName="progress" name="progress" id="status-progress" value="Progress">
        </div>
        
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary"> 
        </div>
    </form>
</div>