.list{
    max-width: 68%;
    margin: 2% auto auto auto;
    padding: 2%;
    display: block;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 3px 5px rgba(54, 54, 54, 0.16), 0 1px 6px rgba(42, 42, 42, 0.23);
}

button{
    margin-right: 5%;
}


